---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Contact Us</title>
          <style>
	  body {
      font-family: Arial, sans-serif;
      background: #f6f6f6;
      margin: 0;
      padding: 0;
	      .container {
      max-width: 700px;
      margin: 35px auto;
      padding: 20px;
      background: #fff;
      border-radius: 5px;
    }
    }
      h1 {
        color: rgb(45, 0, 128);
        font-size: 4rem;
      }
    </style>
	</head>
	<body>
		<h1>Contact Us</h1>
        <p>Please fill the form below.</p>
        <form>
  <input type="text" placeholder="Your Name" required><br><br>
  <input type="email" placeholder="Your Email" required><br><br>
  <input type="text" placeholder="Phone Number"><br><br>
  <input type="text" placeholder="Organization"><br><br>
  <textarea rows="5" placeholder="Message" required></textarea><br><br>
  <button type="submit">Submit</button>
</form>
	</body>
</html>

<hr><br>

<h2>Contact Information</h2>

<h3>Email:</h3>
<p><strong>Sales Enquiry:</strong> xyz@xyz.com</p>
<p><strong>Technical Support:</strong> xyz@xyz.co</p>

<br>

<h3>Locations:</h3>

<h4>xyz</h4>
<p>
xyz,<br>
xyz,<br>
xyz,<br>
xyz
</p>
<p>
Phone: +91 99000 23710, +91 90081 50710
</p>
